<div>

    {{#if user}}
    <input id="idCarrito" type="hidden" value="{{user._id}}">
    <ul>
        <hr>
        <li><span>Producto: {{user.title}}</span></li>
        <li><span>Precio: {{user.price}}</span></li>
        <li><span>Categoria: {{user.category}}</span></li><br><br>
        <li>
            <button id="restar" data-subtract-num="{{user.pid}}">-</button>
            <span id="quantity" data-value="{{user.quantity}}"> Cantidad: {{user.quantity}}</span>
            <button id="sumar" data-add-num="{{user.pid}}">+</button>
        </li>
        <hr>
    </ul>
    {{/if}}

</div>
<script>

    const sumar = document.querySelectorAll('#sumar')
    sumar.forEach(button => {
        button.onclick = e => {

            const pid = button.dataset.addNum
            const idcart = document.querySelector('#idCarrito').value
            fetch(`/productos/cart/${idcart}/products/${pid}?operacion=sumar`, { method: 'put' })
                .then(() => {
                    document.location.href = `/productos/cart/${idcart}/products/${pid}`
                })
                .catch(e => {
                    alert('No se puede modificar el producto')
                })
        }
    })

    const restar = document.querySelectorAll('#restar')
    restar.forEach(button => {
        button.onclick = e => {
            const cantidadSpan = document.querySelector('#quantity');
            const cantidad = parseInt(cantidadSpan.getAttribute('data-value'), 10)
            const pid = button.dataset.subtractNum
            const idcart = document.querySelector('#idCarrito').value
            if (cantidad > 1) {
                fetch(`/productos/cart/${idcart}/products/${pid}?operacion=restar`, { method: 'put' })
                    .then(() => {
                        document.location.href = `/productos/cart/${idcart}/products/${pid}`
                    })
                    .catch(e => {
                        alert('No se puede modificar el producto')
                    });
            }
            else {
                fetch(`/productos/cart/${idcart}/products/${pid}`, { method: 'delete' })
                    .then(() => {
                        document.location.href = `/productos/cart/${idcart}/products/${pid}`
                    })
                    .catch(e => {
                        alert('No se puede modificar el producto');
                    })
            }

        }
    }) 
</script>