<div>
    <h1> Carrito </h1>
    {{#if user}} 
 
       {{#each user}}     
 
            <hr>
            <h2>Numero de compra ( id: {{this._id}} ) estado: {{#unless this.finalizado}} En proceso {{else}} Cerrado{{/unless}}
            </h2>
            <button class="deleteCart" data-delete-Cartid="{{this._id}}">Borrar Carrito</button>
            <button class="openCart" data-open-cartid="{{this._id}}">Abrir Carrito -  {{this._id}}</button> 
            <hr>
            
     {{/each}}


          

    {{/if}}

</div>
<script>
     // Utiliza clases en lugar de id para seleccionar elementos
    const deleteCartButtons = document.querySelectorAll(".deleteCart");
    const openCartButtons = document.querySelectorAll(".openCart");

    // Asigna eventos a todos los botones de eliminar
    deleteCartButtons.forEach(deleteCartButton => {
        deleteCartButton.onclick = () => {
            const _id = deleteCartButton.dataset.deleteCartid;
            fetch(`/productos/cart/${_id}`, { method: 'delete' })
                .then(() => {
                    document.location.href = '/productos/cart';
                })
                .catch(e => {
                    alert('No se puede eliminar el carrito');
                });
        };
    });

    // Asigna eventos a todos los botones de abrir
    openCartButtons.forEach(openCartButton => {
        openCartButton.onclick = () => {
            const cartId = openCartButton.dataset.openCartid;
            document.location.href = `/productos/cart/${cartId}`;
        };
    });
</script>