<div>
    {{!-- <h1> Productos desde de FleSystem</h1>
    {{#each products }}
    <hr>
    <ul>
        <li>{{this.title}}</li>
        <li><span>{{this.price}}</span></li>
    </ul>
    <hr>
    {{/each}}
</div> --}}

<div>

    {{#if result.Productos}}
     <div class="d-flex flex-wrap justify-content-center ">   
    {{#each result.Productos}}
   
        <div class="card m-4 " style="width: 18rem; height: auto">
            <img src="{{this.thumbnail}}" class="card-img-top img-fluid container"  style=" height: 265px" alt="...">
            <div class="card-body">
                <h5 class="card-title"> {{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
                <div class="d-flex justify-content-between">
                    <p class="card-text" style="color: rgb(84, 84, 199)">Stock: {{this.stock}}</p>
                    <p class="card-text" style="color: rgb(4, 95, 4)">$ {{this.price}}</p>
                </div>
                {{#if ../admin}}
                <button class="btn btn-danger delete" data-product-id="{{this._id}}">Delete</button>
                <button class="btn btn-primary add" data-cart-id="{{this._id}}">Agregar al carrito</button>
                {{/if}}
                {{#unless ../admin}}
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary add" data-cart-id="{{this._id}}">Agregar al carrito</button>
                </div>  
                {{/unless}}
            </div>
        </div>
   
    {{/each}}
     </div>
    
    <span>Total Products:</span> {{ result.totalDocs }} <br>
    <span>pages:</span> {{ result.page }} / {{ result.totalPages }} <br>
    <span>Limit: </span> <input id="limit" type="text" value="{{result.limit}}"><br>
    <span>Page: </span> <input id="page" type="text" value="{{result.page}}"><br>
    <span>Query: </span> <input type="text" value="{{result.query}}" id="query"><br><br>


    <label for="sortField">Ordenar por:</label>
    <select id="sortField" name="sortField">
        <option value="title">Nombre</option>
        <option value="price">Precio</option>
    </select>

    <label for="sortOrder">Orden:</label>
    <select id="sortOrder" name="sortOrder">
        <option value="asc">Menor a mayor</option>
        <option value="desc">Mayor a menor</option>
    </select><br><br>

    <label for="category">Categoría:</label>
    <select id="category" name="category">
        <option value="">Todos</option>
        <option value="Audio">Audio</option>
        <option value="Periferico">Periférico</option>
        <option value="Notebook">Notebook</option>
        <option value="Display">Display</option>
    </select>

    <label for="stockOnly">Mostrar solo productos disponibles:</label>
    <input type="checkbox" id="stockOnly" name="stockOnly"><br><br>



    <button id="btnSearch">Buscar</button><br><br>

    <input id="prevPage" type="hidden" value="{{result.prevPage}}">
    <input id="nextPage" type="hidden" value="{{result.nextPage}}">

    <a id="btnPrev" href="#" {{#unless result.hasPrevPage}} style="display: none" {{/unless}}> Anterior </a>
    <a id="btnNext" href="#" {{#unless result.hasNextPage}} style="display: none" {{/unless}}> Siguiente </a><br>

    {{/if}}
</div>


<script>

    const deleteButtons = document.querySelectorAll('.delete')
    deleteButtons.forEach(button => {
        button.onclick = e => {
            const id = button.dataset.productId;
            fetch(`/productos/${id}`, { method: 'delete' })
                .then(() => {
                    alert('Eliminado con éxito' + id);
                    document.location.href = '/productos/listarProductos'
                })
                .catch(e => {
                    alert('No se puede eliminar el producto')
                });
        };
    });



    const addToCart = document.querySelectorAll('.add')
    addToCart.forEach(button => {
        button.onclick = e => {
            const id = button.dataset.cartId;
            fetch(`/productos/${id}`, { method: 'post' })
                .then(() => {
                    alert('Se agrego el producto' + id + " al carrito")
                    document.location.href = '/productos/listarProductos'
                })
                .catch(e => {
                    alert(e)
                });
        };
    });

    document.querySelector('#btnPrev').onclick = () => {
        const prevPage = document.querySelector('#prevPage').value
        const limit = document.querySelector('#limit').value
        const query = document.querySelector('#query').value
        const sortField = document.querySelector('#sortField').value
        const sortOrder = document.querySelector('#sortOrder').value
        const category = document.querySelector('#category').value
        const stockOnly = document.querySelector('#stockOnly').checked

        let url = `http://localhost:8080/productos/listarProductos?page=${parseInt(prevPage)}&limit=${limit}&query=${query}&sort=${sortField}&order=${sortOrder}`

        if (category) {
            url += `&category=${category}`
        }

        if (stockOnly) {
            url += '&stockOnly=true'
        }

        document.location.href = url
    }

    document.querySelector('#btnNext').onclick = () => {
        const nextPage = document.querySelector('#nextPage').value
        const limit = document.querySelector('#limit').value
        const query = document.querySelector('#query').value
        const sortField = document.querySelector('#sortField').value
        const sortOrder = document.querySelector('#sortOrder').value
        const category = document.querySelector('#category').value
        const stockOnly = document.querySelector('#stockOnly').checked

        let url = `http://localhost:8080/productos/listarProductos?page=${parseInt(nextPage)}&limit=${limit}&query=${query}&sort=${sortField}&order=${sortOrder}`;

        if (category) {
            url += `&category=${category}`
        }

        if (stockOnly) {
            url += '&stockOnly=true'
        }

        document.location.href = url
    }

    document.querySelector("#btnSearch").onclick = () => {
        const page = document.querySelector('#page').value
        const limit = document.querySelector('#limit').value
        const query = document.querySelector('#query').value
        const sortField = document.querySelector('#sortField').value
        const sortOrder = document.querySelector('#sortOrder').value
        const category = document.querySelector('#category').value;
        const stockOnly = document.querySelector('#stockOnly').checked;

        let url = `http://localhost:8080/productos/listarProductos?page=${page}&limit=${limit}&query=${query}&sort=${sortField}&order=${sortOrder}`

        if (category) {
            url += `&category=${category}`
        }

        if (stockOnly) {
            url += '&stockOnly=true'
        }

        document.location.href = url
    }
</script>